body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
}
    .baner-background-1{
        background: url("/baner/banner1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 270px;
        width: 100%;
    }
    .baner-background-2{
        background: url("/baner/banner2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 275px;
        width: 100%;
    }